.app {
  width: 400px;
  height: 575px;
  box-sizing: border-box;
  background-color: white;
  box-shadow: 0 4px 14px 4px #375c821c;
  font-family: 'Noto Sans JP', sans-serif;
  border-bottom: 5px solid #cad5e6;
}

.imageContainer img {

  width: 100%;
  border-bottom: 5px solid #0098a0;

}

.propertyInfo {
  display: flex;
  flex-wrap: wrap;

  justify-content: space-around;
}

.propertyDescription {
  padding: 7px;

  text-align: justify;
}
